body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlight{
    color: darksalmon;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}
.half-width p{
    font-size: 20px;
}
.top-baner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
section{
    height: 950px;
    
}
.div-in-div{
    margin-top: 340px;
    margin-left: 130px;
}
.biography{
    margin-top: 360px;
}
.seond-baner{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}